# fly.toml app configuration file generated for casa0017-equilibrium on 2025-11-11T03:52:56Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'casa0017-equilibrium'
primary_region = 'lhr'

[build]
  dockerfile = 'Dockerfile'

[env]
  FLY_DB_PATH = '/server/db/eco_env.sqlite'
  NODE_ENV = 'production'
  PORT = '8080'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  min_machines_running = 2

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'requests'
    hard_limit = 40
    soft_limit = 20

  [[services.http_checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '15s'
    method = 'get'
    path = '/api/health'
    protocol = 'http'
    tls_skip_verify = true

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
